body {
    background-color: white;
    font-size: 20px;
}

#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 0 auto;
    padding: 50px;
}

p {
    font-size: 1.0em;
}

hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

h2 {
    color: #035f9c;
}

img {
    text-align: center;
    margin-top: 50px;
    height: 350px;
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;

}
